/* TEXT COLOR */
.color-text_red {
    color: red;
}

.color-text_blue {
    color: blue;
}

.color-text_white {
    color: white;
}

.color-text_green {
    color: green;
}
/* TEXT COLOR */


/* BUTTON CUSTOM */
.button-custom_red {
    background-color: red;
    cursor: pointer;
    border-radius: 10px;
    border-width: 5px;
    border-color: black;
    color: black;

}

.button-custom_blue {
    background-color: rgb(45, 45, 218);
    cursor: pointer;
    border-radius: 10px;
    border-width: 5px;
    border-color: black;
    color: white;

}

.button-custom_green {
    background-color: green;
    cursor: pointer;
    border-radius: 10px;
    border-width: 5px;
    border-color: black;
    color: black;

}

.button-custom_black {
    background-color: black;
    cursor: pointer;
    border-radius: 10px;
    border-width: 5px;
    border-color: black;
    color: white;
}

.button-custom-larger_red {
    font-size: larger;
    height: 40px;
    width: 90px;
    background-color: red;
    cursor: pointer;
    border-radius: 10px;
    border-width: 5px;
    border-color: black;
    color: black;

}

.button-custom-larger_blue {
    font-size: larger;
    height: 40px;
    width: 90px;
    background-color: rgb(45, 45, 218);
    cursor: pointer;
    border-radius: 10px;
    border-width: 5px;
    border-color: black;
    color: black;

}

.button-custom-larger_green {
    font-size: larger;
    height: 40px;
    width: 90px;
    background-color: green;
    cursor: pointer;
    border-radius: 10px;
    border-width: 5px;
    border-color: black;
    color: black;

}

.button-custom-larger_black {
    font-size: larger;
    height: 40px;
    width: 90px;
    background-color: black;
    cursor: pointer;
    border-radius: 10px;
    border-width: 5px;
    border-color: black;
    color: white;

}
/* BUTTON CUSTOM */

/* Taille Image */

.image-taille_128 {
    width: 128px;
}

.image-taille_ronde_128 {
    border-radius: 50%;
    width: 128px;
}

.image-taille_256 {
    width: 256px;
}

.image-taille_ronde_256 {
    width: 256px;
    border-radius: 50%;
}
/* Taille Image */


/* NAVBAR */
.navbar {

ul {
    list-style-type: none;
    margin: 0;
    margin-left: -10px;
    padding: 0;
    overflow: hidden;
    background-color: #0B2027;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
li {
    float: left;
  }
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
li a:hover:not(.active) {
    background-color: #111;
  }
  
.green {
    background-color: #40798C;
  }
}
/* NAVBAR */
